<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



<form [formGroup]="loginForm" (ngSubmit)="entrar()">
  <ion-item>
    <ion-label position="floating">login</ion-label>
  <ion-input formControlName="login" type="text" maxlength=10 ></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.login.errors?.required">
    login é obrigatorio
  </span>
  <ion-item>
   <ion-label position="floating">Senha</ion-label>
  <ion-input  formControlName="password"  maxlength=8 type="password" ></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
    senha é obrigatoria
  </span>
    <ion-button type='submit' expand="block"color="dark">Entrar</ion-button>
  
</form>
</ion-content>
