<ion-header>
  <ion-toolbar>
    <ion-title>Dados</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicialpage"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<form (ngSubmit)="Proximo()">
  <ion-item>
    <ion-label position="floating" >Nome completo </ion-label>
    <ion-input ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"  >CPF </ion-label>
    <ion-input [brmasker]="{person: true}"maxlength=14></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" >data de nascimento</ion-label>
    <ion-datetime displayFormat="DD/MM/YY" ></ion-datetime>


  </ion-item>
  <ion-item>

    <ion-label position="floating" >E-MAIL</ion-label>
    <ion-input type="email"></ion-input>
  
  </ion-item>

  <ion-item>
    <ion-label position="floating">Login</ion-label>
    <ion-input ></ion-input>
  
  </ion-item>
   
  <ion-item>
  <ion-label position="floating">Senha</ion-label>
  <ion-input type="password"></ion-input>
  </ion-item>

  <ion-item>
  <ion-button  type='submit' expand="block"color="dark">Proximo</ion-button>
  </ion-item>
   

</form>
</ion-content>
